.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: black;
    color: burlywood;
    width: 100%;
    text-align: center;
}
.fa{
    padding: 1px 1vw;
    color: gold;
    text-decoration: none;
}